*{
    margin: auto;
    padding: 0%;
}

body{
    background-color: mistyrose;
    
}

h2{
    text-align: center;
    text-decoration:underline;
}

h3{
    text-align: center;
    text-decoration: overline;
    color: rgb(87, 87, 34);
}

img{
    display: flex;
    align-items: center;
    text-align: center;
}

p{
    align-items: center;
    text-align: center;
}

ol  li {
    text-align:center;
    color: rgb(199, 76, 230);
    align-items: center;
}

#form {
    align-items: center;
    text-align: center;
    font-weight: bolder;
}